@import './../../../assets/styles/partials/mixins.scss';

button{
  border:none;
  color: var(--white);
  padding: 8px 15px;
  cursor: pointer;
  transition: 1s;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 20px;
  background: var(--dark-blue);
  transition: 1s;
  &:hover{
    border-radius: var(--radius-md);
    box-shadow: 1px 1px 1px 1px var(--grey);
  }
  &.primary{
    background: var(--light-blue);
  }
  &:disabled{
    background: var(--grey);
    border-color: var(--dark-grey);
    cursor: default;
  }
}

@media (min-width: $pc) {
  button{
    font-size: 14px;
    line-height: 22px;
  }
}